# =========================================================================
# 📦 DEPENDENCIAS & PAQUETES
# =========================================================================
node_modules/
.pnp
.pnp.js

# Bloqueamos los locks de otros gestores
package-lock.json
yarn.lock
pnpm-lock.yaml

# =========================================================================
# 🚀 COMPILACIÓN & CACHES
# =========================================================================
dist/
build/
out/
.cache/
.parcel-cache/
.turbo/
*.tsbuildinfo

# =========================================================================
# 🔒 VARIABLES DE ENTORNO
# =========================================================================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
*.pem

# =========================================================================
# 🧪 REPORTES & LOGS
# =========================================================================
coverage/
*.lcov
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================================================================
# 💻 ENTORNOS DE DESARROLLO & SISTEMA OPERATIVO
# =========================================================================
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.DS_Store
Thumbs.db
.zed

# =========================================================================
# 🗜️ ARCHIVOS COMPRIMIDOS
# =========================================================================
*.zip
*.tar.gz
*.tgz

# Supabase
.branches
.temp
