node_modules
*.log

dist
build
.output
.turbo
.cache

Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore

.env
.env.*
!.env.example
.vscode
.idea
.editorconfig

README.md
LICENSE
Makefile
helm-charts
coverage*
.DS_Store
